{% extends 'base.html' %}

{% block content %}
{% block head %}
    
    <link href="{{ url_for('static', filename='css/add_user.css') }}" rel="stylesheet">
{% endblock %}



<div class="form-container">
    {% if name %}
        <h1>User Added!</h1>
        <br/><br/>
        <table class="table table-hover table-bordered table-striped">
            {% for our_user in our_users %}
                <tr>
                    <td>{{ our_user.id }}. <a href="{{ url_for('update', id=our_user.id) }}"></a> - {{ our_user.email }}  
                        <a href="{{ url_for('delete', id=our_user.id) }}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="shadow">
            <h1>ADD USER</h1>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.password2.label(class="form-label") }}
                    {{ form.password2(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-secondary") }}
            </form>
        </div>
        <br/>
        <table class="table table-hover table-bordered table-striped">
            <h1>User List:</h1>
            {% for our_user in our_users %}
                <tr>
                    <td>{{ our_user.id }}. <a href="{{ url_for('update', id=our_user.id) }}">{{ our_user.name }}</a> - {{ our_user.email }}  
                        <a href="{{ url_for('delete', id=our_user.id) }}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
{% endblock %}
